<div style="text-align: start">

    <h1>Your Profile
        <i class="far fa-user"></i>
    </h1>
    <br />
    {{!-- User's profile picture --}}
    <img src="/public/imgs/google.png" alt="img" class="rounded-circle profile-picture">
    <nav class="nav justify-content-end">
        <button class="btn btn-outline-primary">
            Edit Profile
        </button>
    </nav>
    <h2>{{userData.lastName}} {{userData.firstname}} <a href="#" class="username">{{userData.username}}</a> </h2>

    {{!-- Needs bio and country email phone number info --}}
    <h6 id="bio">About: Hi I'm google. I do code. Thats all. </h6>
    <h6 id="location">Location: {{userData.country}}</h6>
    <h6 id="phone-number">Phone Number: {{userData.mobile}}</h6>
    <h6 id="email">Email: {{userData.email}}</h6>
</div>

<h3>Your Posts</h3>
{{!-- Examples --}}
<div class="block">
    {{!-- User's profile picture --}}
    <img src="/public/imgs/google.png" alt="img" class="mr-3 mt-3 rounded-circle">
    {{!-- User's name --}}
    <h2>Big Google
        <a href="#" class="username">@TheRealGoogle</a>
    </h2>
    {{!-- User's post --}}
    <p>Lcing elilor sit amorem ipsumsit doecteturet, cons adipi.</p>
    {{!-- Created at --}}
    <small><i>Posted on March 06, 2021</i></small>
</div>

<div class="block">
    <img src="/public/imgs/google.png" alt="img" class="mr-3 mt-3 rounded-circle">
    <h2>Big Google
        <a href="#" class="username">@TheRealGoogle</a>
    </h2>
    <p>Lcing elilor sit amoremrwgwr ipsumsit doecteturet, cons adipi.</p>
    <small><i>Posted on March 06, 2021</i></small>
</div>
<div class="block">
    <img src="/public/imgs/google.png" alt="img" class="mr-3 mt-3 rounded-circle">
    <h2>Big Google
        <a href="#" class="username">@TheRealGoogle</a>
    </h2>
    <p>Lcing elilor sit amoremrw ipsumsit doectwrheturet, wrhcons adipi.</p>
    <small><i>Posted on March 06, 2021</i></small>
</div>
<div class="block">
    <img src="/public/imgs/google.png" alt="img" class="mr-3 mt-3 rounded-circle">
    <h2>Big Google
        <a href="#" class="username">@TheRealGoogle</a>
    </h2>
    <p>Lcing elqfeilor sit amorem ipqegsumsit doecteturqeget, coqegns adqegipqegqegi.</p>
    <small><i>Posted on March 06, 2021</i></small>
</div>